*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(240, 67.5%, 39.8%);
    color: aliceblue;
    font-family: "lato", sans-serif;
}

.blurryStart {
    filter: blur(0.1rem);
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-right: 2px solid aliceblue;
}

.weatherImage {
    width: 7vw;
    height: 7vh;
    object-fit: contain;
}

.weatherImage.large{
    width: 14vw;
    height: 14vh;
}

.header-current-temp {
    font-size: 4rem;
    margin-left: 1rem;
}

.right-side {
    display: grid;
    justify-content: space-around;
    width: 50%;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.temp-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 2rem;
    color: aliceblue;
}

.variable {
    font-weight: 700;
    font-size: 2rem;
}

.variableInfo {
    font-weight: lighter;
    font-size: 2rem;
}

.daySection {
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    gap: 5rem;
    justify-content: center;
    padding: 1rem;
}

.dayCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid aliceblue;
    border-radius: 0.3rem;
    padding: 1rem;
    width: min-content;
}

.dayCardDay {
    font-size: 1rem;
    color: aliceblue;
    margin-top: 0.5rem;
}

.hourSection {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    font-size: 2rem
}

.hourSection:nth-of-type(even) .hourRow {
    background-color: hsl(240, 67.5%, 44.8%);
}

.hourSection:nth-of-type(odd) .hourRow {
    background-color: hsl(240, 67.5%, 48.8%);
}

.hourRow > td {
    padding: 0.25rem 0.5rem;
}